In [1]:
import pandas as pd

In [2]:
f = r"F:\Dropbox (Personal)\BCII\BCI Challenges\2024 ALVI EMG Decoding\submit_gt.csv"

df = pd.read_csv(f)

print(df.shape)
df.head()

(26829, 20)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,-0.940073,-0.006680,1.547762,0.715244,-0.275635,0.037491,0.476829,0.052841,0.108835,0.036273,0.532043,0.229802,0.509256,-0.002389,0.414984,0.167115,0.169784,-0.323632,0.146756,-0.318175
1,-0.943642,-0.007023,1.548695,0.713961,-0.285192,0.037644,0.480748,0.052106,0.108515,0.037295,0.533613,0.226893,0.518311,0.003914,0.421842,0.169146,0.164933,-0.324085,0.147771,-0.317284
2,-0.943809,-0.007086,1.549352,0.714324,-0.288916,0.037730,0.485022,0.053114,0.109243,0.037551,0.534834,0.225893,0.523289,0.006490,0.426143,0.170341,0.164560,-0.327121,0.148213,-0.316072
3,-0.943948,-0.007170,1.550651,0.715434,-0.291395,0.037971,0.486921,0.054009,0.110545,0.038499,0.537378,0.226248,0.528933,0.010701,0.431467,0.172934,0.162942,-0.330495,0.148991,-0.315007
4,-0.944021,-0.007179,1.551846,0.716411,-0.296242,0.038577,0.487375,0.053679,0.106117,0.040575,0.546809,0.229721,0.532626,0.018017,0.439766,0.177117,0.160008,-0.334192,0.149964,-0.314841

In [3]:
# add a new first column a "sample_id" column
df.insert(0, "sample_id", range(1, 1 + len(df)))

df.head()

,sample_id,0,1,2,3,4,5,6,7,8,...,10,11,12,13,14,15,16,17,18,19
0,1,-0.940073,-0.006680,1.547762,0.715244,-0.275635,0.037491,0.476829,0.052841,0.108835,...,0.532043,0.229802,0.509256,-0.002389,0.414984,0.167115,0.169784,-0.323632,0.146756,-0.318175
1,2,-0.943642,-0.007023,1.548695,0.713961,-0.285192,0.037644,0.480748,0.052106,0.108515,...,0.533613,0.226893,0.518311,0.003914,0.421842,0.169146,0.164933,-0.324085,0.147771,-0.317284
2,3,-0.943809,-0.007086,1.549352,0.714324,-0.288916,0.037730,0.485022,0.053114,0.109243,...,0.534834,0.225893,0.523289,0.006490,0.426143,0.170341,0.164560,-0.327121,0.148213,-0.316072
3,4,-0.943948,-0.007170,1.550651,0.715434,-0.291395,0.037971,0.486921,0.054009,0.110545,...,0.537378,0.226248,0.528933,0.010701,0.431467,0.172934,0.162942,-0.330495,0.148991,-0.315007
4,5,-0.944021,-0.007179,1.551846,0.716411,-0.296242,0.038577,0.487375,0.053679,0.106117,...,0.546809,0.229721,0.532626,0.018017,0.439766,0.177117,0.160008,-0.334192,0.149964,-0.314841

In [4]:
# add an Usage column with half the data as "Public" and the other half as "Private"
df["Usage"] = "Public"


# make the second half of the df private
df.loc[df.index > len(df) // 2, "Usage"] = "Private"

df.head()

,sample_id,0,1,2,3,4,5,6,7,8,...,11,12,13,14,15,16,17,18,19,Usage
0,1,-0.940073,-0.006680,1.547762,0.715244,-0.275635,0.037491,0.476829,0.052841,0.108835,...,0.229802,0.509256,-0.002389,0.414984,0.167115,0.169784,-0.323632,0.146756,-0.318175,Public
1,2,-0.943642,-0.007023,1.548695,0.713961,-0.285192,0.037644,0.480748,0.052106,0.108515,...,0.226893,0.518311,0.003914,0.421842,0.169146,0.164933,-0.324085,0.147771,-0.317284,Public
2,3,-0.943809,-0.007086,1.549352,0.714324,-0.288916,0.037730,0.485022,0.053114,0.109243,...,0.225893,0.523289,0.006490,0.426143,0.170341,0.164560,-0.327121,0.148213,-0.316072,Public
3,4,-0.943948,-0.007170,1.550651,0.715434,-0.291395,0.037971,0.486921,0.054009,0.110545,...,0.226248,0.528933,0.010701,0.431467,0.172934,0.162942,-0.330495,0.148991,-0.315007,Public
4,5,-0.944021,-0.007179,1.551846,0.716411,-0.296242,0.038577,0.487375,0.053679,0.106117,...,0.229721,0.532626,0.018017,0.439766,0.177117,0.160008,-0.334192,0.149964,-0.314841,Public

In [5]:
df.tail()

,sample_id,0,1,2,3,4,5,6,7,8,...,11,12,13,14,15,16,17,18,19,Usage
26824,26825,0.222789,-0.130912,0.296158,-0.067957,-0.670833,-0.022100,1.650532,0.812179,-0.738611,...,0.884676,-0.764260,0.044247,1.643404,0.966234,0.353694,-0.233564,0.141062,-0.150482,Private
26825,26826,0.221792,-0.131321,0.296632,-0.067788,-0.671213,-0.022129,1.651170,0.811587,-0.739702,...,0.882868,-0.767509,0.044275,1.641193,0.964672,0.352838,-0.232265,0.141468,-0.150089,Private
26826,26827,0.217293,-0.131536,0.296930,-0.068013,-0.675350,-0.021762,1.655264,0.812157,-0.741224,...,0.881817,-0.767172,0.044415,1.642433,0.963398,0.353212,-0.231242,0.141522,-0.150140,Private
26827,26828,0.215185,-0.130896,0.296864,-0.068015,-0.676020,-0.021672,1.655445,0.812439,-0.740912,...,0.882915,-0.765399,0.044517,1.643035,0.963966,0.353919,-0.230441,0.141496,-0.149980,Private
26828,26829,0.216600,-0.129904,0.295894,-0.068510,-0.674005,-0.021620,1.653043,0.812097,-0.740050,...,0.884068,-0.764274,0.044341,1.642910,0.964665,0.354770,-0.231119,0.141450,-0.149902,Private

In [6]:
assert len(df['sample_id'].unique()) == len(df['sample_id'])

In [7]:
f = r"F:\Dropbox (Personal)\BCII\BCI Challenges\2024 ALVI EMG Decoding\submit_gt_edited.csv"
df.to_csv(f, index=False)

In [10]:
# make everything except sample_id a 0
df.iloc[:, 1:] = 0

# remove usage
df = df.drop(columns=["Usage"])

f = r"F:\Dropbox (Personal)\BCII\BCI Challenges\2024 ALVI EMG Decoding\submit_sample.csv"
df.to_csv(f, index=False)